<template>
  <div class="container has-text-centered">
    <div class="columns is-vcentered">
      <div class="column is-7">
        <figure class="image is-5x3">
          <img src="@/assets/truck_box.png" alt="Description" v-if="$route.path === '/create'">
          <preview v-if="$route.path === '/create'"></preview>
          <img src="@/assets/truck.png" alt="Description" v-else>
        </figure>
      </div>
        <router-view></router-view>
    </div>
  </div>

</template>

<script>

import Preview from '@/components/Preview';

export default {
  components: {
    preview: Preview,
  },
};
</script>
