<template>
  <div class="column is-5">
  <h1 class="title is-2">
    Cart
  </h1>
    <h2 class="subtitle is-4" v-if="!products.length">
      Your cart is empty
    </h2>
    <article class="message is-small"
           v-for="(product, index) in products" v-bind:key="index"
    >
      <div class="message-header">
        <p>Sticker No{{ index + 1 }} </p>
      </div>
      <div class="message-body">
        <div class="columns">
          <div class="column is-narrow really-narrow" >
            <number-input
            :value="product[1]"
            :min="0"
            :step="1"
            size="small"
            :inputtable="false"
            inline controls
          ></number-input>
          </div>
          <div class="column has-text-center">
            <p v-for="(line) in product[0]">
              {{ line }}
            </p>
          </div>
          <div class="column is-narrow has-text-right">
            <button class="delete " aria-label="delete" @click="removeProducts(index)"></button>
          </div>
        </div>
      </div>
    </article>
  <p class="has-text-right" v-if="products.length">
    <checkout></checkout>
  </p>
  <p v-if="!products.length">
    <router-link to="/create">
      <a class="button is-medium is-info is-outlined">
        Create
      </a>
    </router-link>
  </p>
  </div>
</template>

<script>
import Stats from './Stats';
import { mapState, mapMutations, mapActions } from 'vuex';

import Checkout from './Checkout';

export default {
  data() {
    return {
      firstLine: '',
      secondLine: '',
      thirdLine: '',
      msg: '',
      toggle: true,
    };
  },

  components: {
    checkout: Checkout,
    Stats,
  },
  computed: {
    ...mapState([
      'title',
      'products',
    ]),
  },
  methods: {
    ...mapMutations([
      'ADD_TO_CART',
      'REMOVE_ALL',
    ]),
    ...mapActions([
      'removeProduct',
      'removeAll',
    ]),
    removeProducts: function removeProducts(product) {
      this.removeProduct(product);
    },
    removeAllProducts: function removeAllProducts() {
      this.removeAll().then(() => {
        this.msg = 'Cart has been cleared';
      });
    },
  },

};
</script>
