<template>

    <a class="button is-medium is-info is-outlined" @click="checkout">Pay for stickers</a>

</template>

<script>
const axios = require('axios');

export default {
  methods: {
    checkout() {
      // this.$checkout.close()
      // is also available.
      this.$checkout.open({
        name: 'Submit your details',
        currency: 'USD',
        amount: 100,
        token: (token, addresses) => {
          const request = {
            currency: 'USD',
            amount: 100,
            token_from_stripe: token,
            addresses,
            metadata: { ...this.$store.state.products },
          };
          // Send the token to your server
          axios.post(`${window.location.origin}/charge`, request);
          // .then(response => console.log(response))
          // .catch(error => console.log(error));
        },
      });
    },
  },
};
</script>
