<template>
  <div class="column is-5">
    <h2 class="subtitle is-4">
      Add desired text
    </h2>
    <form>
    <b-field>
      <b-input  v-model="firstLine" @input="sendFirstLine"></b-input>
    </b-field>
    <b-field>
      <b-input v-model="secondLine" @input="sendSecondLine"></b-input>
    </b-field>
    <b-field>
      <b-input v-model="thirdLine" @input="sendThirdLine"></b-input>
    </b-field>
    <br>

    <p class="has-text-right">
      <number-input v-model="value" :value="0" :min="0" :step="1" :inputtable="false" inline controls></number-input>
      <a class="button is-medium is-info is-outlined" @click="addProduct">

        Add to Cart
        <cart-icon></cart-icon>
      </a>
      <router-link to="/cart"> <a class="button is-medium is-info is-outlined" href="/cart">
        Checkout
      </a></router-link>
    </p>
    </form>
  </div>
</template>

<script>

import Stats from './Stats';
import { mapState, mapMutations, mapActions } from 'vuex';
import { serverBus } from './../main';

export default {
  data() {
    return {
      firstLine: '',
      secondLine: '',
      thirdLine: '',
      msg: '',
      toggle: true,
      value: 0,
    };
  },
  components: {
    Stats,
  },
  computed: {
    ...mapState([
      'title',
      'products',
    ]),
  },
  methods: {
    ...mapMutations([
      'ADD_TO_CART',
      'REMOVE_ALL',
    ]),
    ...mapActions([
      'removeProduct',
      'removeAll',
    ]),
    sendFirstLine() {
      // Using the service bus
      serverBus.$emit('sendData1', this.firstLine);
    },
    sendSecondLine() {
      // Using the service bus
      serverBus.$emit('sendData2', this.secondLine);
    },
    sendThirdLine() {
      // Using the service bus
      serverBus.$emit('sendData3', this.thirdLine);
    },
    addProduct: function addProduct() {
      this.ADD_TO_CART([[this.firstLine,
        this.secondLine,
        this.thirdLine], this.value]);
      this.firstLine = '';
      this.secondLine = '';
      this.thirdLine = '';
      this.value = 0;
    },
    removeProducts: function removeProducts(product) {
      this.removeProduct(product);
    },
    removeAllProducts: function removeAllProducts() {
      this.removeAll().then(() => {
        this.msg = 'Cart has been cleared';
      });
    },
  },
};
</script>
