<template>
  <div class="container">
    <div class="tabs is-centered">
      <ul>
        <li><div>&copy; {{ new Date().getFullYear() }}</div></li>
      </ul>
    </div>
  </div>
</template>

<script>

export default {

};
</script>
