<template>
  <section>
    <v-container fluid justify-center>
      <v-flex xs12 md4 class="my-3">
        <div class="text-xs-center">
          <h2 class="headline">{{ title }}</h2>
          <span class="subheading">
            Just enter your text in the textarea below
          </span>
        </div>
        <v-textarea
        height=100
        rows=3
        name="input-7-1"
        solo
        v-model="newProduct"
        value="Enter your text here"
        ></v-textarea>
      </v-flex>
      <v-flex xs12 md4>
        <v-layout align-center justify-end row fill-height >
          <v-flex offset-md4>
            <v-text-field
            label="Quantity"
            type="number"
            value=1
            ></v-text-field>
          </v-flex>
          <v-flex >
            <v-btn  color="green" @click="addProduct">Add to Cart
              <v-icon dark>shopping_cart</v-icon></v-btn>
            </v-flex>
            <v-flex >
              <v-btn  @click="removeAllProducts">Clear Cart</v-btn>
            </v-flex>
          </v-layout>
          <v-spacer></v-spacer>
          <v-card>
            <v-list subheader>
              <v-subheader>Products</v-subheader>
              <v-list-tile
              v-for="(product, index) in products" v-bind:key="index"
              @click="notifications = !notifications">

              <v-list-tile-content @click="notifications = !notifications">
                <v-list-tile-title>{{ product }} </v-list-tile-title>
              </v-list-tile-content>

              <v-list-tile-action>
                <v-btn icon ripple @click="removeProducts(index)">
                  <v-icon color="grey lighten-1">cancel</v-icon>
                </v-btn>
              </v-list-tile-action>

            </v-list-tile>
            <h2> {{ msg }} </h2>
          </v-list>

        </v-card>
        <stats />
      </v-flex>
    </v-container>
  </section>
</template>

<script>
import Stats from '@/components/Stats';
import { mapState, mapMutations, mapActions } from 'vuex';

export default {
  data() {
    return {
      newProduct: '',
      msg: '',
    };
  },
  components: {
    Stats,
  },
  computed: {
    ...mapState([
      'title',
      'products',
    ]),
  },
  methods: {
    ...mapMutations([
      'ADD_TO_CART',
      'REMOVE_ALL',
    ]),
    ...mapActions([
      'removeProduct',
      'removeAll',
    ]),
    addProduct: function addProduct() {
      this.ADD_TO_CART(this.newProduct);
      this.newProduct = '';
    },
    removeProducts: function removeProducts(product) {
      this.removeProduct(product);
    },
    removeAllProducts: function removeAllProducts() {
      this.removeAll().then(() => {
        this.msg = 'Cart has been cleared';
      });
    },
  },
};
</script>
