<template>
  <div class="column tag">
    <div style="display:block">
      <h2 class="subtitle is-6" id="firstLine"> {{ firstLine }} </h2>
      <h2 class="subtitle is-6" id="second"> {{ secondLine }} </h2>
      <h2 class="subtitle is-6" id="third"> {{ thirdLine }} </h2>
    </div>
  </div>
</template>

<script>

import { serverBus } from './../main';

export default {
  data() {
    return {
      firstLine: '',
      secondLine: '',
      thirdLine: '',
    };
  },
  created() {
    // Using the service bus
    serverBus.$on('sendData1', (firstLine) => {
      this.firstLine = firstLine;
    });
    serverBus.$on('sendData2', (secondLine) => {
      this.secondLine = secondLine;
    });
    serverBus.$on('sendData3', (thirdLine) => {
      this.thirdLine = thirdLine;
    });
  },
};
</script>
