<template>
  <div class="column is-5">
  <h1 class="title is-2">
    Create Sticker
  </h1>
  <h2 class="subtitle is-4">
    Enter text you want to be on your sticker
  </h2>
  <br>
  <p class="has-text-centered">
    <router-link to="/create">
    <a class="button is-medium is-info is-outlined">
      Get started
    </a>
    </router-link>
  </p>
  </div>
</template>

<script>

  export default {

  };
</script>
