<template>
  <div class="stats">
    <h1>Quantity</h1>
    <p>Currently you have {{ quantity }} stickers in your cart</p>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'Stats',
  computed: {
    ...mapGetters([
      'quantity',
    ]),
  },
};
</script>
