<template>
  <section class="hero is-fullheight is-default is-bold">
    <div class="hero-head">
      <suchnavbar></suchnavbar>
    </div>
    <div class="hero-body">
      <suchbody></suchbody>
    </div>
    <div class="hero-foot">
      <suchfooter></suchfooter>
    </div>
  </section>
</template>

<script>

import Card from './components/Checkout';
import Navbar from './components/Navbar';
import Body from './components/Body';
import Footer from './components/Footer';


export default {
  components: {
    name: 'App',
    card: Card,
    suchnavbar: Navbar,
    suchbody: Body,
    suchfooter: Footer,
  },
  data: () => ({
    dialog: false,
  }),
};
</script>

<style>
html,
body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  background: linear-gradient(to left, #ece9e6, #ffffff);
}
img {

}
.really-narrow {
  width: 9rem !important;
}
.mycanvas {
  background-image: url("./assets/truck_box.png");
  z-index:20;
  background-size: contain;
  background-repeat: no-repeat;
}
.tag {
  float: left;
  position: absolute;
  left: 42%;
  top: 36%;
  z-index: 1000;
  padding: 5px;
  font-weight: bold;
  background-color : transparent !important;
}
</style>
