<template>
<v-app>
  <navbar></navbar>
  <v-content>
    <headsection/>
    <middlesection/>
    <card/>
    <bottomsection/>
    <footerbelow/>
  </v-content>
</v-app>
</template>

<script>

import Navbar from './components/Navbar';
import HeadSection from './components/HeadSection';
import MiddleSection from './components/MiddleSection';
import Card from './components/Checkout';
import BottomSection from './components/BottomSection';
import Footer from './components/Footer';

export default {
  components: {
    name: 'App',
    navbar: Navbar,
    headsection: HeadSection,
    middlesection: MiddleSection,
    card: Card,
    bottomsection: BottomSection,
    footerbelow: Footer,
  },
  data: () => ({
    dialog: false,
  }),
};
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
